<button><a href="/clients/log_reg">Login & Register</a></button>
<h1>streetchow</h1>
<p>connecting bums with grub</p>
<form class="clients" action="clients/<%=:id%>" method="get">
  <input type="text" name="search" placeholder="Search..">
  <input type="submit" name="" value="show">
</form>

<!-- Google Maps -->
<div id="googleMap" style="width:100%;height:400px;">
  <script>
    function myMap(){
      var myLat = [];
      var myLong = [];
      var newLoc = []
      var uluru = {lat: 34.189958, lng: -118.324010 };
          var map = new google.maps.Map(document.getElementById('googleMap'), {
            zoom: 4,
            center: uluru
          });
          var marker = new google.maps.Marker({
            position: uluru,
            map: map
          });

          <% @clients.each do |client| %>
             myLat.push(<%=client.latitude%>)
             myLong.push(<%=client.longitude%>)
            //  nmae.push
          <% end %>

          for (var i=0; i< myLat.length; i++){
            var marker = new google.maps.Marker({
              position: {lat: myLat[i], lng: myLong[i]},
              map: map

            });

          }
        }

</script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAeY0-kwtQVjqjGPffbZFazDxWI27RXIt0&callback=myMap"></script>
  <!-- Google Marker -->

</div>
<!-- end -->
<div class="locations">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>street</th>
      </tr>
    </thead>

    <tbody>
      <% @clients.each do |client| %>
        <tr>
          <td><%= client.name %></td>
          <td><%= client.latitude %></td>
          <td><%= client.longitude %></td>
          <td><%= client.street %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
=======
<label>
  <form class="search" action="index.html" method="post">
  </form>
