<<<<<<< HEAD
<<<<<<< HEAD
<h1><%= @clients.name%></h1>


<h4><%= @clients.name%></h4>



<table>
  <thead>
    <th>days</th>
    <th>start_time</th>
    <th>end_time</th>
  </thead>
  <tbody>
    <tr>
      <td><%=@clients.name%></td>
      <td><%=@clients.name%></td>
      <td><%=@clients.name%></td>
    </tr>
  </tbody>
</table>
=======
<h1>Clients#show</h1>
>>>>>>> a1a153c7bf129cc7cadf8acd0b3c6fe645bc1bef
=======
<h1>Clients#show</h1>
>>>>>>> a1a153c7bf129cc7cadf8acd0b3c6fe645bc1bef
